{% extends 'core/base-new.html' %}

{% block title %}Cart | {% endblock %}

{% load static %}

{% block content %}
{% if payment %}
  <head>
  <style type="text/css">
            .product {
                width: 100%;
                font-family: Arial;
                font-size: 14px;
                background-color: #fff;
                color: #333;
            }
        </style>
    </head>
    <body>
    
    <div class="product">
        <div style="width: fit-content; float: left;">
        <div><h1 class="heading" style="font-size: large; font-weight: bold; color: #20dbc2;">Details</h1></div>
            <br><br>
            <div>
              <B>Name : </B>{{order.first_name}} {{order.last_name}}
            </div><br><br>
            <div>
              <B>Address : </B>{{order.address}}
            </div><br><br>
            <div>
            <B>Zip and place : </B>{{order.zipcode}} {{order.place}}
            </div><br><br>
            <div>
            <B>E-mail : </B>{{order.email}}
            </div><br><br>
            <div>
            <B>Phone : </B>{{order.phone}}
            </div>
        </div>
        <div style="position: relative; height: auto; float: right; height: 40%;">
            <img src = "{% static 'images/pi.svg' %}" alt = "">
            </div>
            <br><br>
        <div class="box mb-6">
            <div class="table">
                <table class="table is-fullwidth is-striped">
                    <thead>
                        <th></th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </thead>

                    <tbody>
                        {% for item in cart %}
                            <tr>
                                <td>
                                    <figure class="image is-64x64">
                                        <img src="{{item.product.image.url}}">
                                    </figure>
                                </td>
                                <td>
                                    <a href="{% url 'product' item.product.category.slug item.product.slug %}">{{ item.product.title }}</a>
                                </td>
                                <td>
                                    {{ item.quantity }}
                                </td>
                                <td> ₹ {{ item.total_price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                    <tfoot>
                        <tr>
                            <td></td>
                            <td><strong>Total cost</strong></td>
                            <td><strong>{{ cart|length}}</strong></td>
                            <td colspan="2"><strong> ₹ {{ cart.get_total_cost }}</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        </div>
        <div style="text-align: center;">
        <form action="{% url 'success' order=order %}" method="POST">
            {% csrf_token %}
            <script
                src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="rzp_live_HGmBto0xC8WCRv" // Enter the Test API Key ID generated from Dashboard → Settings → API Keys
                data-amount="{{payment.amount}}" // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
                data-currency="{{payment.currency}}"// You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account
                data-order_id="{{payment.id}}"// Replace with the order_id generated by you in the backend.
                data-buttontext="Proceed to payment"
                data-name="Eikarica"
                data-description="Shop Till You Drop"
                data-image="/static/images/W.png"
                data-prefill.name="{{order.first_name}} {{order.last_name}}"
                data-prefill.email="{{order.email}}"
                data-theme.color="#20dbc2"
            ></script>
            <input type="hidden" custom="Hidden Element" name="hidden">
        </form>
        <br><br>
        </div>
    </div>
    
    </body>
{% endif %}
{% endblock %}