<div class="col-md-4 text-center animate-box">
    <div class="product">

        <div class="product-grid" style="background-image: url({{product.image.url}});">
            <!-- <img src="{{product.image.url}}"> -->
            <div class="inner">
                <p>
                    <a href="{% url 'product' product.category.slug product.slug %}" class="icon"><i class="icon-eye"></i></a>
                </p>
            </div>

        </div>
        <div class="desc">
            <h3><a href="{% url 'product' product.category.slug product.slug %}">{{ product.title }}</a></h3>
			<span class="price">₹{{ product.price }}</span>
        </div>

    </div>
</div>