{% extends 'core/base-new.html' %}

{% load static %}

{% block content %}


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>{% block title %}{{ product.title }} | {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles/product.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
    
        <script src="{% static 'scripts/product.js' %}"></script>
    
    </head>
    <body>    
    <div class = "card">
        <!-- card left -->
        {% if product.image %}
        <div class = "product-imgs">
            <div class = "img-display">
                <div class = "img-showcase">
                    <img class = 'imgclass' src = "{{product.image.url}}" alt = "{{ product.title }}">                    
                </div>
            </div>
        </div>
        {% endif %}

        <!-- card right -->
        <div class = "product-content">
            <h2 class = "product-title" style="font-family: 'Otomanopee One', sans-serif;">{{ product.title }}</h2>
            <a href = "{% url 'frontpage' %}" class = "product-link">Visit Store</a>
            <!-- <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div> -->

            <div class = "product-price">
                <p class = "new-price">Price: <span>₹ {{ product.price }}</span>
                <br>
                Available Quantity: {{ product.quantity }}
                <br>
                Sold by: {{ product.vendor.name }}
                </p>
            </div>

            <div class = "product-detail">
                <h2>about this item: </h2>
                <p>{{ product.description }}</p>
                <ul>
                    <!-- <li>Color: <span>Black</span></li>
                    <li>Available: <span>in stock</span></li> -->
                    <li>Category: <span>{{ product.category }}</span></li>
                    <li>Shipping Area: <span>All over the world</span></li>
                    <li>Shipping Fee: <span>₹50</span></li>
                </ul>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div style="font-weight:bold; font-size:x-large">{{ message }}</div>
                {% endfor %}
            {% endif %}

            

            <div class = "purchase-info">
                <form method="post" action="{% url 'product' product.category.slug product.slug %}">
                    {% csrf_token %}
                    <p>Quantity: <input type = "number" name = "quantity" min = "0" value = "1"></p>
                    <div class="control"></div>
                    <input type = "submit" class = "btns" style="width:fit-content; color:black; font-weight: bold;" value="Add to Cart">
                    <i class = "fas fa-shopping-cart"></i>
                    </div>
                </form>
            </div>

        </div>
    </div>

    {% if similar_products %}
    <hr>
    <div class="related">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading" >
                <h3 style="font-family: 'Otomanopee One', sans-serif; font-size: 1.5rem;">Related Products.</h3>
            </div>
        </div>
        <div class="row">
            {% for product in similar_products %}
                {% include 'product/parts/list_item.html' %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
<!-- </div> -->
</body>
</html>
{% endblock %}